We read each csv file, preprocess it, then add them to a SQLite as a table.
- Historical prices
- Options Data
- Portfolio holdings
- News articles

For version1, we have just downloaded historical data downloaded from barchart.com

In [1]:
# Run as is
import numpy as np
import pandas as pd
# pd.set_option('display.max_rows', 25)
pd.set_option('display.max_columns', 15)

In [2]:
import os
import glob

def count_files_by_extension(path):
    extensions = {}
    for file in os.listdir(path):
        extension = os.path.splitext(file)[1]
        if extension not in extensions:
            extensions[extension] = 1
        else:
            extensions[extension] += 1
    return extensions

def allfilesinpath(path):
    """
    Get all files in a directory specified by the path.

    Args:
        path (str): The path of the directory.

    Returns:
        A list of all files in the directory.
    """
    # Create a list of all files in the specified path
    all_files = glob.glob(path + "/*")
  
    return all_files

# This function gets all the files in the path, and separates them by substrings
def separate_files_by_substrings_in_path(path, substr_list):
    # Creates a list of all files in the path
    file_paths = glob.glob(path + "/*")

    # Extract the file names and separate them by substrings
    file_data = {}
    for substr in substr_list:
        file_data[substr] = []
    for file_path in file_paths:
        file_name = os.path.basename(file_path)
        for substr in substr_list:
            if substr in file_name:
                file_data[substr].append(file_name)

    return file_data

In [3]:
path = 'Barchart-downloads/'
count_files_by_extension(path)

{'': 1, '.csv': 10}

In [4]:
file_paths = allfilesinpath(path)
file_paths
# file_names

['Barchart-downloads/spy_daily_historical-data-04-24-2023.csv',
 'Barchart-downloads/hyg_daily_historical-data-04-24-2023.csv',
 'Barchart-downloads/vnq_options-overview-history-04-24-2023.csv',
 'Barchart-downloads/tlt_daily_historical-data-04-24-2023.csv',
 'Barchart-downloads/vnq_daily_historical-data-04-24-2023.csv',
 'Barchart-downloads/vnq_options-overview-history-04-24-2023-2.csv',
 'Barchart-downloads/vnq_options-overview-history-04-24-2023-3.csv',
 'Barchart-downloads/lqd_daily_historical-data-04-24-2023.csv',
 'Barchart-downloads/spy_options-overview-history-04-24-2023 copy.csv',
 'Barchart-downloads/spy_options-overview-history-04-24-2023-2.csv']

In [5]:
# substrings = ['spy','hyg','vnq','tlt','lqd']
substrings = ['daily']
names = separate_files_by_substrings_in_path(path,substrings)
names

{'daily': ['spy_daily_historical-data-04-24-2023.csv',
  'hyg_daily_historical-data-04-24-2023.csv',
  'tlt_daily_historical-data-04-24-2023.csv',
  'vnq_daily_historical-data-04-24-2023.csv',
  'lqd_daily_historical-data-04-24-2023.csv']}

In [6]:
# Function to read the CSV file
def readcsv(file):
    # parse_dates = ['Time']
    df1 = pd.read_csv(file)
    # df1 = pd.read_csv(file, parse_dates=parse_dates)

    return df1

# Function to perform preliminary preprocessing of raw etf data downloaded from Barchart.com
def preprocess_historical_etf_data(historical_etf_data):
    # Drop last row because it has irrelevant txt
    historical_etf_data = historical_etf_data[:-1]
    
    # rename colomns
    historical_etf_data = historical_etf_data.rename(columns={"Time": "date","Change":"daily_change","%Chg":"perct_chg"})
    
    # extract percentage from %Chg string column
    historical_etf_data['perct_chg'] = historical_etf_data['perct_chg'].str.replace('%', '').astype(float)

    # convert all column headers to lower case
    historical_etf_data.columns = historical_etf_data.columns.str.lower()

    # convert the date column to a datetime object
    historical_etf_data['date'] = pd.to_datetime(historical_etf_data['date'])

    return historical_etf_data

import sqlite3

def write_dataframe_to_sqlite(df, db_file, table_name=None):
    '''
    Write a pandas dataframe to a new table in a SQLite database.
    
    Parameters:
        df (pandas.DataFrame): The dataframe to write to the database.
        db_file (str): The name of the SQLite database file.
        table_name (str): The name of the table in the database (optional).
                          If not specified, the table will be named after the
                          dataframe.
    '''
    # create a connection to the database
    conn = sqlite3.connect(db_file)

    # if table_name is not specified, use the name of the dataframe
    if table_name is None:
        table_name = df.name

    # write the dataframe to a new table in the database
    df.to_sql(name=table_name, con=conn, if_exists='replace', index=False)

    # close the database connection
    conn.close()

In [7]:
df3 = readcsv(path + "spy_daily_historical-data-04-24-2023.csv")
df3

,Time,Open,High,Low,Last,Change,%Chg,Volume
0,04/24/2023,411.9900,413.0700,410.6000,412.6300,0.4300,+0.10%,64332000.0
1,04/21/2023,412.1900,412.6800,410.1700,412.2000,0.3200,+0.08%,73457400.0
2,04/20/2023,411.2100,413.7000,410.2700,411.8800,-2.2600,-0.55%,75840300.0
3,04/19/2023,412.2200,415.0800,412.1600,414.1400,-0.0700,-0.02%,55227300.0
4,04/18/2023,415.5800,415.7200,412.7802,414.2100,0.2700,+0.07%,63559900.0
...,...,...,...,...,...,...,...,...
5860,01/06/2000,91.1541,92.3749,89.9268,89.9268,-1.4689,-1.61%,9538833.0
5861,01/05/2000,91.3565,92.3945,89.6004,91.3957,0.1632,+0.18%,18654116.0
5862,01/04/2000,93.7002,94.0462,91.1541,91.2325,-3.7146,-3.91%,12391960.0
5863,01/03/2000,96.7815,96.7815,93.9286,94.9471,-0.9400,-0.98%,12506077.0
5864,Downloaded from Barchart.com as of 04-24-2023 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Import the required modules
import sqlite3

# Function to create sqlite_db with schema
def create_sqlite_db(names):
    sqlite_db_name = 'etf_data.db'
    
    # Create a connection to the SQLite database
    conn = sqlite3.connect(sqlite_db_name)
    
    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    
    # Create the metadata table if it doesn't exist
    create_metadata_table = '''
    CREATE TABLE IF NOT EXISTS metadata (
        table_name TEXT,
        description TEXT,
        columns TEXT
    )
    '''
    cursor.execute(create_metadata_table)

    metadata_description = ['This table contains SPY ETF historical performance.',
                            'This table contains HYG ETF historical performance.',
                            'This table contains TLT ETF historical performance.',
                            'This table contains VNQ ETF historical performance.',
                            'This table contains LQD ETF historical performance.']

    # For all etfs
    for i, name in enumerate(names['daily']):
        
        # Read the file
        df = readcsv(path + str(name))
        
        # Do some preprocessing and get the df in our required format
        df = preprocess_historical_etf_data(df)
        
        # Write the formatted df as a table to the sqlite db
        table_name = str(name[:3])
        df.to_sql(table_name, conn, if_exists='replace', index=False)
        
        # Extract column names as metadata
        metadata_columns = ', '.join(df.columns)
        
        # Add metadata to the metadata table
        metadata_query = '''
        INSERT INTO metadata (table_name, description, columns)
        VALUES (?, ?, ?)
        '''
        metadata_values = (table_name, metadata_description[i], metadata_columns)
        cursor.execute(metadata_query, metadata_values)

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

    return sqlite_db_name


def view_table_contents(db_file, table_name):
    '''
    View the contents of a table in a SQLite database.
    
    Parameters:
        db_file (str): The name of the SQLite database file.
        table_name (str): The name of the table to view.
    '''
    # create a connection to the database
    conn = sqlite3.connect(db_file)

    # Get the first and last dates for the table
    # query = f"SELECT MIN(date), MAX(date) FROM {table_name}"
    # date_range = conn.execute(query).fetchone()
    # print(f"Date range for {table_name}: {date_range[0]} - {date_range[1]}\n")

    # read the contents of the table into a pandas dataframe
    df = pd.read_sql_query(f"SELECT * from {table_name}", conn)
    # print the contents of the dataframe
    print(df)

    # close the database connection
    conn.close()

In [23]:
sqlite_db_name = create_sqlite_db(names)

# etf_list is also the tabe name in the sqlite db
etf_list = ['spy', 'tlt', 'hyg', 'lqd', 'vnq', 'metadata']
for table_name in etf_list:
    view_table_contents('etf_data.db', table_name)

# We now have a sqlite database

                     date      open      high       low      last  \
0     2023-04-24 00:00:00  411.9900  413.0700  410.6000  412.6300
1     2023-04-21 00:00:00  412.1900  412.6800  410.1700  412.2000
2     2023-04-20 00:00:00  411.2100  413.7000  410.2700  411.8800
3     2023-04-19 00:00:00  412.2200  415.0800  412.1600  414.1400
4     2023-04-18 00:00:00  415.5800  415.7200  412.7802  414.2100
...                   ...       ...       ...       ...       ...
5859  2000-01-07 00:00:00   91.5981   95.1494   91.4348   95.1494
5860  2000-01-06 00:00:00   91.1541   92.3749   89.9268   89.9268
5861  2000-01-05 00:00:00   91.3565   92.3945   89.6004   91.3957
5862  2000-01-04 00:00:00   93.7002   94.0462   91.1541   91.2325
5863  2000-01-03 00:00:00   96.7815   96.7815   93.9286   94.9471

      daily_change  perct_chg      volume
0           0.4300       0.10  64332000.0
1           0.3200       0.08  73457400.0
2          -2.2600      -0.55  75840300.0
3          -0.0700      -0.02  55227300.0
4           0.2700       0.07  63559900.0
...            ...        ...         ...
5859        5.2226       5.81  12356277.0
5860       -1.4689      -1.61   9538833.0
5861        0.1632       0.18  18654116.0
5862       -3.7146      -3.91  12391960.0
5863       -0.9400      -0.98  12506077.0

[5864 rows x 8 columns]
                     date      open      high       low      last  \
0     2023-04-24 00:00:00  104.9600  105.4875  104.8400  105.4100
1     2023-04-21 00:00:00  105.3000  105.4600  104.2700  104.4000
2     2023-04-20 00:00:00  104.8300  105.2800  104.7530  104.9900
3     2023-04-19 00:00:00  103.9100  104.2370  103.4750  104.1000
4     2023-04-18 00:00:00  103.8100  104.5850  103.8000  104.2000
...                   ...       ...       ...       ...       ...
5216  2002-08-02 00:00:00   41.9733   42.4477   41.8320   42.3215
5217  2002-08-01 00:00:00   41.6603   41.9026   41.6603   41.8925
5218  2002-07-31 00:00:00   41.3626   41.7916   41.3373   41.6553
5219  2002-07-30 00:00:00   41.2616   41.3373   41.1455   41.1455
5220  2002-07-29 00:00:00   41.3272   41.3272   41.0446   41.0850

      daily_change  perct_chg      volume
0           1.0100       0.97  17034300.0
1          -0.5900      -0.56  15244700.0
2           0.8900       0.85  16450000.0
3          -0.1000      -0.10  16093900.0
4           0.3700       0.36  15922600.0
...            ...        ...         ...
5216        0.4290       1.02    104610.0
5217        0.2372       0.57     49531.0
5218        0.5098       1.24     58249.0
5219        0.0605       0.15     12085.0
5220       -0.5602      -1.35     15651.0

[5221 rows x 8 columns]
                     date     open     high      low     last  daily_change  \
0     2023-04-24 00:00:00  75.0300  75.2600  74.9500  75.2000        0.2100
1     2023-04-21 00:00:00  74.8800  75.0300  74.6950  74.9900        0.2300
2     2023-04-20 00:00:00  74.6500  74.8750  74.5500  74.7600       -0.0700
3     2023-04-19 00:00:00  74.8300  74.9900  74.7800  74.8300       -0.3000
4     2023-04-18 00:00:00  75.2600  75.3600  74.9800  75.1300        0.0500
...                   ...      ...      ...      ...      ...           ...
4032  2007-04-18 00:00:00  37.9436  37.9727  37.9290  37.9363        0.0109
4033  2007-04-17 00:00:00  37.9290  38.0201  37.9254  37.9254       -0.0182
4034  2007-04-16 00:00:00  37.9727  37.9727  37.9290  37.9436       -0.0146
4035  2007-04-13 00:00:00  38.0164  38.0528  37.9582  37.9582       -0.0692
4036  2007-04-12 00:00:00  38.0274  38.0274  38.0019  38.0274        0.0255

      perct_chg      volume
0          0.28  24661500.0
1          0.31  33061800.0
2         -0.09  30204000.0
3         -0.40  26979400.0
4          0.07  28030700.0
...         ...         ...
4032       0.03     17299.0
4033      -0.05     77160.0
4034      -0.04     20868.0
4035      -0.18      9336.0
4036       0.07     16750.0

[4037 rows x 8 columns]
                     date      open      high       low      last  \
0     2023-04-24 00:00:00  109.1000  109.5100  109.1000  109.4800
1     2023-04-21 00:00:00  109.3500  109.4018  108.6500  109.0000
2     2023-04-20 00:00:00  108.7700  109.1000  108.7466  108.9300
3     2023-04-19 00:00:00  108.7800  108.7950  108.4600  108.5200
4     2023-04-18 00:00:00  108.9100  109.2300  108.9000  109.0600
...                   ...       ...       ...       ...       ...
5216  2002-08-02 00:00:00   44.3008   44.4730   44.1071   44.4299
5217  2002-08-01 00:00:00   44.0855   44.3869   44.0425   44.3395
5218  2002-07-31 00:00:00   43.8272   44.0209   43.7196   43.9090
5219  2002-07-30 00:00:00   43.6120   43.9133   43.5904   43.6421
5220  2002-07-29 00:00:00   43.8487   43.8487   43.5689   43.6335

      daily_change  perct_chg      volume
0           0.4800       0.44   7974300.0
1           0.0700       0.06  18480600.0
2           0.4100       0.38  16076000.0
3          -0.5400      -0.50  14023700.0
4           0.3600       0.33  10522400.0
...            ...        ...         ...
5216        0.0904       0.20     67824.0
5217        0.4305       0.98    259452.0
5218        0.2669       0.61    631790.0
5219        0.0086       0.02     49010.0
5220       -0.3444      -0.78    141688.0

[5221 rows x 8 columns]
                     date     open     high      low     last  daily_change  \
0     2023-04-24 00:00:00  82.3600  82.7400  81.4200  82.0600       -0.3100
1     2023-04-21 00:00:00  82.3900  82.7700  81.6750  82.3700        0.0100
2     2023-04-20 00:00:00  82.6800  82.7700  81.9300  82.3600       -0.8200
3     2023-04-19 00:00:00  82.2700  83.3700  81.9700  83.1800        0.4900
4     2023-04-18 00:00:00  82.9700  82.9800  82.2700  82.6900       -0.1900
...                   ...      ...      ...      ...      ...           ...
4668  2004-10-06 00:00:00  22.1617  22.2177  22.1574  22.2177        0.1033
4669  2004-10-05 00:00:00  22.1187  22.1617  22.0972  22.1144       -0.0043
4670  2004-10-04 00:00:00  22.1144  22.1833  22.1144  22.1187        0.0947
4671  2004-10-01 00:00:00  21.6669  22.0542  21.6238  22.0240        0.4002
4672  2004-09-30 00:00:00  21.5163  21.6583  21.5119  21.6238        0.1721

      perct_chg     volume
0         -0.38  3673500.0
1          0.01  5136600.0
2         -0.99  4604300.0
3          0.59  3624300.0
4         -0.23  4189600.0
...         ...        ...
4668       0.47    21611.0
4669      -0.02    27653.0
4670       0.43    18822.0
4671       1.85   301632.0
4672       0.80    64834.0

[4673 rows x 8 columns]
  table_name                                        description  \
0        spy  This table contains SPY ETF historical perform...
1        hyg  This table contains HYG ETF historical perform...
2        tlt  This table contains TLT ETF historical perform...
3        vnq  This table contains VNQ ETF historical perform...
4        lqd  This table contains LQD ETF historical perform...

                                             columns
0  date, open, high, low, last, daily_change, per...
1  date, open, high, low, last, daily_change, per...
2  date, open, high, low, last, daily_change, per...
3  date, open, high, low, last, daily_change, per...
4  date, open, high, low, last, daily_change, per...

In [17]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
connection = sqlite3.connect('etf_data.db')

# List of table names
etf_list = ['spy', 'tlt', 'hyg', 'lqd', 'vnq']

# Loop through the list and display data for each table
for table_name in etf_list:
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", connection)
    print(f"Data for table {table_name}:")
    print(df)

# Close the connection
connection.close()

Data for table spy:
                     date      open      high       low      last  \
0     2023-04-24 00:00:00  411.9900  413.0700  410.6000  412.6300
1     2023-04-21 00:00:00  412.1900  412.6800  410.1700  412.2000
2     2023-04-20 00:00:00  411.2100  413.7000  410.2700  411.8800
3     2023-04-19 00:00:00  412.2200  415.0800  412.1600  414.1400
4     2023-04-18 00:00:00  415.5800  415.7200  412.7802  414.2100
...                   ...       ...       ...       ...       ...
5859  2000-01-07 00:00:00   91.5981   95.1494   91.4348   95.1494
5860  2000-01-06 00:00:00   91.1541   92.3749   89.9268   89.9268
5861  2000-01-05 00:00:00   91.3565   92.3945   89.6004   91.3957
5862  2000-01-04 00:00:00   93.7002   94.0462   91.1541   91.2325
5863  2000-01-03 00:00:00   96.7815   96.7815   93.9286   94.9471

      daily_change  perct_chg      volume
0           0.4300       0.10  64332000.0
1           0.3200       0.08  73457400.0
2          -2.2600      -0.55  75840300.0
3          -0.0700      -0.02  55227300.0
4           0.2700       0.07  63559900.0
...            ...        ...         ...
5859        5.2226       5.81  12356277.0
5860       -1.4689      -1.61   9538833.0
5861        0.1632       0.18  18654116.0
5862       -3.7146      -3.91  12391960.0
5863       -0.9400      -0.98  12506077.0

[5864 rows x 8 columns]
Data for table tlt:
                     date      open      high       low      last  \
0     2023-04-24 00:00:00  104.9600  105.4875  104.8400  105.4100
1     2023-04-21 00:00:00  105.3000  105.4600  104.2700  104.4000
2     2023-04-20 00:00:00  104.8300  105.2800  104.7530  104.9900
3     2023-04-19 00:00:00  103.9100  104.2370  103.4750  104.1000
4     2023-04-18 00:00:00  103.8100  104.5850  103.8000  104.2000
...                   ...       ...       ...       ...       ...
5216  2002-08-02 00:00:00   41.9733   42.4477   41.8320   42.3215
5217  2002-08-01 00:00:00   41.6603   41.9026   41.6603   41.8925
5218  2002-07-31 00:00:00   41.3626   41.7916   41.3373   41.6553
5219  2002-07-30 00:00:00   41.2616   41.3373   41.1455   41.1455
5220  2002-07-29 00:00:00   41.3272   41.3272   41.0446   41.0850

      daily_change  perct_chg      volume
0           1.0100       0.97  17034300.0
1          -0.5900      -0.56  15244700.0
2           0.8900       0.85  16450000.0
3          -0.1000      -0.10  16093900.0
4           0.3700       0.36  15922600.0
...            ...        ...         ...
5216        0.4290       1.02    104610.0
5217        0.2372       0.57     49531.0
5218        0.5098       1.24     58249.0
5219        0.0605       0.15     12085.0
5220       -0.5602      -1.35     15651.0

[5221 rows x 8 columns]
Data for table hyg:
                     date     open     high      low     last  daily_change  \
0     2023-04-24 00:00:00  75.0300  75.2600  74.9500  75.2000        0.2100
1     2023-04-21 00:00:00  74.8800  75.0300  74.6950  74.9900        0.2300
2     2023-04-20 00:00:00  74.6500  74.8750  74.5500  74.7600       -0.0700
3     2023-04-19 00:00:00  74.8300  74.9900  74.7800  74.8300       -0.3000
4     2023-04-18 00:00:00  75.2600  75.3600  74.9800  75.1300        0.0500
...                   ...      ...      ...      ...      ...           ...
4032  2007-04-18 00:00:00  37.9436  37.9727  37.9290  37.9363        0.0109
4033  2007-04-17 00:00:00  37.9290  38.0201  37.9254  37.9254       -0.0182
4034  2007-04-16 00:00:00  37.9727  37.9727  37.9290  37.9436       -0.0146
4035  2007-04-13 00:00:00  38.0164  38.0528  37.9582  37.9582       -0.0692
4036  2007-04-12 00:00:00  38.0274  38.0274  38.0019  38.0274        0.0255

      perct_chg      volume
0          0.28  24661500.0
1          0.31  33061800.0
2         -0.09  30204000.0
3         -0.40  26979400.0
4          0.07  28030700.0
...         ...         ...
4032       0.03     17299.0
4033      -0.05     77160.0
4034      -0.04     20868.0
4035      -0.18      9336.0
4036       0.07     16750.0

[4037 rows x 8 columns]
Data for table lqd:
                     date      open      high       low      last  \
0     2023-04-24 00:00:00  109.1000  109.5100  109.1000  109.4800
1     2023-04-21 00:00:00  109.3500  109.4018  108.6500  109.0000
2     2023-04-20 00:00:00  108.7700  109.1000  108.7466  108.9300
3     2023-04-19 00:00:00  108.7800  108.7950  108.4600  108.5200
4     2023-04-18 00:00:00  108.9100  109.2300  108.9000  109.0600
...                   ...       ...       ...       ...       ...
5216  2002-08-02 00:00:00   44.3008   44.4730   44.1071   44.4299
5217  2002-08-01 00:00:00   44.0855   44.3869   44.0425   44.3395
5218  2002-07-31 00:00:00   43.8272   44.0209   43.7196   43.9090
5219  2002-07-30 00:00:00   43.6120   43.9133   43.5904   43.6421
5220  2002-07-29 00:00:00   43.8487   43.8487   43.5689   43.6335

      daily_change  perct_chg      volume
0           0.4800       0.44   7974300.0
1           0.0700       0.06  18480600.0
2           0.4100       0.38  16076000.0
3          -0.5400      -0.50  14023700.0
4           0.3600       0.33  10522400.0
...            ...        ...         ...
5216        0.0904       0.20     67824.0
5217        0.4305       0.98    259452.0
5218        0.2669       0.61    631790.0
5219        0.0086       0.02     49010.0
5220       -0.3444      -0.78    141688.0

[5221 rows x 8 columns]
Data for table vnq:
                     date     open     high      low     last  daily_change  \
0     2023-04-24 00:00:00  82.3600  82.7400  81.4200  82.0600       -0.3100
1     2023-04-21 00:00:00  82.3900  82.7700  81.6750  82.3700        0.0100
2     2023-04-20 00:00:00  82.6800  82.7700  81.9300  82.3600       -0.8200
3     2023-04-19 00:00:00  82.2700  83.3700  81.9700  83.1800        0.4900
4     2023-04-18 00:00:00  82.9700  82.9800  82.2700  82.6900       -0.1900
...                   ...      ...      ...      ...      ...           ...
4668  2004-10-06 00:00:00  22.1617  22.2177  22.1574  22.2177        0.1033
4669  2004-10-05 00:00:00  22.1187  22.1617  22.0972  22.1144       -0.0043
4670  2004-10-04 00:00:00  22.1144  22.1833  22.1144  22.1187        0.0947
4671  2004-10-01 00:00:00  21.6669  22.0542  21.6238  22.0240        0.4002
4672  2004-09-30 00:00:00  21.5163  21.6583  21.5119  21.6238        0.1721

      perct_chg     volume
0         -0.38  3673500.0
1          0.01  5136600.0
2         -0.99  4604300.0
3          0.59  3624300.0
4         -0.23  4189600.0
...         ...        ...
4668       0.47    21611.0
4669      -0.02    27653.0
4670       0.43    18822.0
4671       1.85   301632.0
4672       0.80    64834.0

[4673 rows x 8 columns]

In [ ]:
2023-04-24
2023-04-24
2023-04-24

In [ ]:
from os import getenv
from dotenv import load_dotenv

load_dotenv()

# Values of env variables
DB_URL = getenv("DB_URL")

# If DB exists,
if DB_URL:
    
    # Connect to db
    conn = sqlite3.connect(DB_URL)